<div class="scroll-item-projects">
    <div class="heading-container">
        <h3>C# - Led Audio Visualiser 2022</h3>
    </div>
    <div class="video-container">
        <img></img>
    </div>
    <div class="project-button-container">

        <a href="https://github.com/CurtisDH/LEDVisualiserAudioClient" class="repo-link">
            <img src="../../images/github-icon.png" alt="GitHub Logo" class="github-logo"/>

        </a>
        <a href="" class="read-more">
            <img src="../../images/Social/globe.svg" alt="GitHub Logo" class="github-logo"/>
        </a>
    </div>

</div>

