<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Curtis Hodgson - Full Stack Developer</title>
    <!--TODO doesnt work if clicked from index.html,-->
    <link rel="stylesheet" href="../../CSS/styles.css"/>
    <link rel="stylesheet" href="../../CSS/header.css"/>
    <link rel="stylesheet" href="../../CSS/footer.css"/>
    <link rel="icon" href="../../images/favicon.png" type="image/png"/>
</head>
<body>

<header>
    <h1>Project Name</h1>
    <h2>Language</h2>
    <p>
        <!--Embed-->
        <a href="https://github.com/CurtisDH">
            <img src="../../images/github-icon.png" alt="GitHub">
        </a>
    </p>

</header>
<main>

</main>

<footer>
    <p>Contact information</p>
    <p>
        <a href="https://www.linkedin.com/in/curtis-hodgson-7061a3191">
            <img src="../../images/linkedin-icon.png" alt="LinkedIn">
        </a>
        <a href="https://github.com/CurtisDH">
            <img src="../../images/github-icon.png" alt="GitHub">
        </a>
    </p>
</footer>
<script src="../../Scripts/Content/dynamicProject.js"></script>

</body>
</html>
