<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Curtis Hodgson - Full Stack Developer</title>
    <!--TODO doesnt work if clicked from index.html,-->
    <link rel="stylesheet" href="../../CSS/styles.css"/>
    <link rel="stylesheet" href="../../CSS/header.css"/>
    <link rel="stylesheet" href="../../CSS/footer.css"/>
    <link rel="stylesheet" href="../../CSS/project.css"/>
    <link rel="stylesheet" href="../../CSS/dynamicProject.css"/>
    <link rel="icon" href="../../images/favicon.png" type="image/png"/>
</head>
<body>

<header>
    <h1 class="project-name">Project Name</h1>
    <div class="sub-headings">
        <div class="language-container">
            
        </div>
        <!--  could use the visual tech stacks from the index here to show the lang etc.?  -->
        <h2 class="date">Date</h2>
    </div>
</header>
<main>
    <div class="video-container">
        <!--code will populate this section with either an iframe or the img-->
    </div>
    <div class="about-project"></div>
</main>

<footer>
    <p>View Repository</p>
    <p>
        <a class="git-repo" href="https://github.com/CurtisDH">
            <img src="../../images/github-icon.png" alt="GitHub">
        </a>
    </p>
</footer>
<script src="../../Scripts/Content/dynamicProject.js"></script>

</body>
</html>
