<div class="scroll-item-projects">
    <div class="heading-container">
        <h3>C# - Sudoku Solver 2023</h3>
    </div>
    <div class="video-container">
        <img
                src="../../images/Sudoku.png"
                alt="Project Image"
                width="200"
                height="300"
        />
    </div>
    <div class="project-button-container">
        <a href="https://github.com/CurtisDH/SudokuSolver" class="repo-link">
            <i class="fab fa-github"></i> GitHub Repository
        </a>
        <a href="https://github.com/CurtisDH/SudokuSolver" class="read-more">
            <i class="fab fa-github"></i> GitHub Repository
        </a>
    </div>

</div>
