<div class="scroll-item-projects">
    <div class="heading-container">
        <h3>C# - Led Audio Visualiser 2022</h3>
    </div>
    <div class="video-container">
        <img></img>
    </div>
    <div class="project-button-container">

        <a href="https://github.com/CurtisDH/LEDVisualiserAudioClient" class="repo-link">
            <i class="fab fa-github"></i> GitHub Repository
        </a>
        <a href="" class="read-more">
            <i class="fab fa-github"></i> GitHub Repository
        </a>
    </div>

</div>

